[run]
source = sb_desktop
omit =
    */sb_desktop/tray.py
    */sb_desktop/ui/*
    */sb_desktop/notifications.py
    *\sb_desktop\tray.py
    *\sb_desktop\ui\*
    *\sb_desktop\notifications.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
