---
name: mem-goal
description: Ingerer un objectif (intention future, etat desire, but) dans 50-objectifs/. Shortcut explicite. Detecte horizon (court/moyen/long) depuis l'echeance.
user-invocable: true
---

{{PROCEDURE}}
